.ccm {
    color: #1C77D6;
}
.nnn{
    background-color: #1C77D6;
    color: #ffffff;
}
.cnn {
    display: flex;
    height: 50px;
}

.bnn{
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 10px    ;
}
.dfg {
    padding: 0px 20px;
}
.hnn {
    display: flex;
    align-items: center;
}
span {
    font-weight: 600;
}