<div class="cnt">
    <div class="hdn">
        Personal Information
    </div>
    <div class="gd">
        <div class="mm">
            <div class="hnnn">Primary Competency</div>
            <div class="thhh">Van/Flatbed Operator (US)</div>
        </div>
        <div class="mm">
            <div class="hnnn">Title</div>
            <div class="thhh">Driver Class A</div>
        </div>
        <div class="mm">
            <div class="hnnn">Office Phone</div>
            <div class="thhh">316-269-7400</div>
        </div>
        <div class="mm">
            <div class="hnnn">Supervisor</div>
            <div class="thhh">Fisher, Mindi A</div>
        </div>
        <div class="mm">
            <div class="hnnn">HR Business Partner</div>
            <div class="thhh">Barnett, Dana</div>
        </div>
        <div class="mm">
            <div class="hnnn">Home Branch</div>
            <div class="thhh">DK - Plain States T&D</div>
        </div>
        <div class="mm">
            <div class="hnnn">State/Province</div>
            <div class="thhh">KS</div>
        </div>
        <div class="mm">
            <div class="hnnn">Start Date</div>
            <div class="thhh">07/09/2018</div>
        </div>
        <div class="mm">
            <div class="hnnn">Total Time with Company</div>
            <div class="thhh">5 Year(s) 11 Month(s)</div>
        </div>
        <div class="mm">
            <div class="hnnn">Employee Category</div>
            <div class="thhh">REG</div>
        </div>
        <div class="mm">
            <div class="hnnn">Seasonal</div>
            <div class="thhh">No</div>
        </div>
        <div class="mm">
            <div class="hnnn">Employee Status</div>
            <div class="thhh">Active</div>
        </div>
        <div class="mm">
            <div class="hnnn">Home City</div>
            <div class="thhh">Wichita, KS</div>
        </div>
        <div class="mm">
            <div class="hnnn">Company Email</div>
            <div class="thhh">foreman.kevincleanharbors.com</div>
        </div>

    </div>
    <div class="hdn">
       Driver Details
    </div>
    <div class="gd">
        <div class="mm">
            <div class="hnnn">License Number</div>
            <div class="thb">
                <input type="text" placeholder="  ************">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Hours of Service Status</div>
            <div class="thb">
                <input type="text">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">OJT Approved</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Solo Approved</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Clearing House</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Driver Trainer</div>
            <div class="thb"><input type="date"></div>
        </div>
        <div class="mm">
            <div class="hnnn">Driver File Type</div>
            <div class="thb">
                <input type="text">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Drug Test Date</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Hazmat Expiry</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Driver Expiration</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Medical Expiration</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">TDG Expiration</div>
            <div class="thb">
                <input type="date">
            </div>
        </div>

        <div class="mm">
            <div class="hnnn">State/Province</div>
            <div class="thb">
                <input type="text">
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Road Test - Sign Off Vehicle </div>
            <div class="thb">
                <kendo-multiselect
                    [data]="listItems"
                    
                    [(ngModel)]="value"
                  ></kendo-multiselect>
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Endorsement</div>
            <div class="thb">
                <kendo-multiselect
                    [data]="listItems"
                    
                    [(ngModel)]="value"
                  ></kendo-multiselect>
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Restriction</div>
            <div class="thb">
                <kendo-multiselect
                    [data]="listItems"
                    
                    [(ngModel)]="value"
                  ></kendo-multiselect>
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">License Class</div>
            <div class="thb">
                <kendo-multiselect
                    [data]="listItems"
                    
                    [(ngModel)]="value"
                  ></kendo-multiselect>
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">Primary Motor Carrier</div>
            <div class="thb">
                <kendo-multiselect
                    [data]="listItems"
                    
                    [(ngModel)]="value"
                  ></kendo-multiselect>
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">2nd Motor Carrier</div>
            <div class="thb">
                <kendo-multiselect
                    [data]="listItems"
                    
                    [(ngModel)]="value"
                  ></kendo-multiselect>
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">3rd Motor Carrier</div>
            <div class="thb">
                <kendo-multiselect
                    [data]="listItems"
                    
                    [(ngModel)]="value"
                  ></kendo-multiselect>
            </div>
        </div>
        <div class="mm">
            <div class="hnnn">4th Motor Carrier</div>
            <div class="thb"><kendo-multiselect
                [data]="listItems"
                
                [(ngModel)]="value"
              ></kendo-multiselect></div>
        </div>
    </div>
</div>