<div class="main">
    <div class="col-1 hgt tc">
        <img src="assets\hamburgerMnu (1).png" alt="">
        <div class="txt">TC</div>
    </div>
    <div class="col-7 hgt mm">
        <div class="txt">Driver Management</div>
    </div>
    <div class="col-4 hgt nn">
        <div class="logo">
            <img src="assets\CH Logo_white_rgb.png" alt="">
        </div>
        <div class="name">
            <div  class="npm">Viswanath Bandathmakur</div>
            <div class="nnm">VB</div>
        </div>
        
    </div>
</div>